#ignore all files
*
!*/

vendor/
tags
target/

#except the following files
!.gitignore
!.clang-format
!*.cpp
!*.hpp
!*.c
!*.h
!*.inl

!*.md

!*.go

!*.cs
!*.csproj
!*.resx

!*.ini
!*.bat

#except the following folders
